/* 
    Created on : 2014/05/30, 20:17:18
    Author     : bearing
*/
body {
    color: dimgray;
    background-color: white;
}

#title {
    color:  #008800;
    margin-bottom: 3px;
}

#copyright {
    text-align: center;
}

#welcome {
    font-size: small;
    margin: 0;
    padding: 0;
}
