/* 
    Created on : 2014/05/30, 20:17:18
    Author     : bearing
*/
body {
    color: dimgray;
    background-color: white;
}

h2, h3 {
    border-bottom: 2px green solid;
}

table, th, td {
    border: 1px silver solid;
}

#header, #footer, #main {
    max-width:  1200px;
    min-width:  750px;
    margin: 0 auto;
}

#content {
    width: 75%;
}

#menu {
    float:right;
    width: 22%;
    background: whitesmoke;
}

#menu h2, h3 {
    font-size: small;
    border-bottom: 1px gray solid;
}

#menu p {
    margin-left: 5px;
}

#title {
    color:  #008800;
    margin-bottom: 3px;
}

#login {
    text-align: left;
    margin: 5px 0px;
    padding: 5px 0px;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}

#search {
    float:  right;
    margin-top: 23px;
}

#copyright {
    text-align: center;
}

#welcome {
    font-size: small;
    margin: 0;
    padding: 0;
}

#discussions table {
    width: 100%;
}

#activities table {
    width: 100%;
}

.category {
    margin: 0px 0px;
    padding: 5px 0px;
}
.category select {
    margin-right: 10px;
}
.category form {
    display: inline;
}

img.ad_image {
    text-align: center;
    width: 80%;
    height: 150px;
    border: 1px white solid;
}

#discussion_thema {
    text-align: center;
}
#discussion_type {
    text-align: center;
    font-size: larger;
}

#discussion_detail {
    text-align: center;
    font-size: larger;
}

#discussion_log ul {
    width: 80%;
}

#discussion_form {
    width: 50em;
    margin: 0 auto;
}

#discussion_selectors {
    clear: both;
}

#discussion_field {
    width: 50em;
    height: 5em;
    text-align: left;
    clear: both;
}

#discussion_bottons {
    clear : both;
}
il.others {
    text-align: left;
}

il.me {
    text-align: right;
}

img.others {
    float: left;
    border: 1px white solid;
}

img.me {
    float: right;
    border: 1px green solid;
}

#user_information {
    width: 20%;
    margin: 0px 0px 0px 0px;
    float: left;
}

li.user_infomation_list {
    list-style: none;
}

#user_activities {
    width: 75%;
    margin: 0;
    float: right;
}

div.user_activity {
    width: 90%;
    margin: 7px 0px 0px 7px;
    text-align: left;
    float: left;
    border: 1px green solid;
}